/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    background-color: rgb(231, 232, 209);
}

html, body {
    min-height: 100%;
}

body {
    padding-top: 80px;
}

button:hover {
    cursor: pointer;
}