@import "../app.component.scss";
* {
    margin: 0;
    padding: 0;
}

.character-widget {
    width: 400px;
    height: 12%;
}

.page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .main-content {
        width: 100%;

        .dungeons {
            display: flex;
            flex-direction: row;
            justify-content: left;
            margin-left: 1rem;
        }
    }

    .side-bar {
        margin: 3rem;
        height: 94vh;


        #character-input {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 396px;
            height: 12%;
            border: 2px solid black;

            img {
                margin-left: -2px;
                height: 100%;
            }

            p, input, button, div{
                font-size: 0.8rem;
                color: rgb(1, 10, 49);
            }

            button {
                margin-top: 0.5rem;
                width: 80%;
            }

            button:hover {
                color: rgb(0, 37, 201);
            }

            .input-character{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .input-boxes {
                    display: flex;
                    flex-direction: row;
                    margin: 0.5rem;
                }
            }

        
            button {
                height: 20%;
            }
        }
        
        .add-character {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 400px;
            height: 12%;
            font-size: 4rem;

            p {
                color: rgb(1, 10, 49);
                font-size: 5rem;
            }

            p:hover {
                color: rgb(0, 28, 153);
            }

        }
        .add-character-input {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 400px;
            height: 12%;

            .add-friend-input-layout {
                display: flex;
                flex-direction: row;
                width: 100%;
                text-align: center;
                
                p, input {
                    color: rgb(1, 10, 49);
                }

                input {
                    width: 176px;
                }
            }

            .add-friend-container {
                display: flex;
                flex-direction: column;
                width: 90%;
                justify-content: center;
                align-items: center;

                .add-friend-button {
                    width:100%;
                    height: 30px;
                    font-size: 1.5rem;
                    color: rgb(1, 10, 49);
                }

                .add-friend-button:hover {
                    cursor: pointer;
                    color: rgb(0, 37, 201);
                }
            }
        }
        p:hover {
            cursor: pointer;
        }
    }
}

.profile-container {
    display:flex;
    flex-direction: column;
    position: absolute;
    max-width: 300px;

    .profile-image {
        display:flex;
        flex-direction: row;

        img {
            width:100px;
            height: 100px;
        }

        .name-spec {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            h1 {
                font-size: 1.5rem;
            }

            p {
                margin: 1rem;
            }
        }
    }

}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    width: 100%;
    margin: 1rem;

    .character-content {
        display:flex;
        flex-direction: column;
        justify-content: left;
        width: 95%;
        margin-bottom: 3rem;

        .details {
            display:flex;
            flex-direction: column;
            justify-content: left;
            font-size: 3rem;
            margin: 1rem;
            font-weight: 600;

            p {
                font-size: 2rem;
            }
        }
        
        .cutoff {
            display: flex;
            flex-direction: row;
            justify-content: left;
            margin-top: 2rem;
            margin-left: 1rem;

            .title-cutoff {
                display: flex;
                flex-direction: column;
                justify-content: right;
                text-align: right;

                p {
                    font-size: 1.5rem;
                }
            }

            .splitter {
                color: rgb(1, 10, 49);
                margin-left: 1rem;
                font-size: 2.5rem;
            }

            .cutoff-average {
                display: flex;
                flex-direction: column;
                justify-content: left;
                margin-left: 0.5rem;

                p {
                    font-size: 1.5rem;
                }
            }

            p {
                color: rgb(1, 10, 49);
            }
        }
    }

    .guild-content {
        width: 95%;
        display: flex;
        flex-direction: column;

        h1 {
            margin: 1rem;
        }

        .raid-data {
            display: flex;
            flex-direction: row;
            margin-left: 1rem;
        }
    }
}

footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-right: 1rem;
    padding-left: 1rem;

    background-color: rgb(1, 10, 49);

    p, a {
        background-color: rgb(1, 10, 49);
    }
}

@media (max-width: 1450px) {
    .page-container {
        display:flex;
        flex-direction: column;

        .side-bar {
            height: 800px;
            width: 500px;
    
        }
    }
  }