<app-navbar [characterNameInput]="characterNameInput" [serverNameInput]="serverNameInput" (characterDataEmitter)="updateCharacterData($event)"></app-navbar>
<div class="page-container {{characterFaction}}">
    <div class="main-content">
        <div class="character-content">
            <div class="details">
                <h1>{{characterName}}</h1>
                <p class="{{characterClass}}">{{characterSpec}}</p>
                <p class="{{acquired}}">{{characterRating}}</p>
            </div>
            <div class="dungeons">
                <app-dungeon-widget *ngFor="let dungeon of dungeonData" [dungeon]="dungeon" [averageRating]="roundedAverageRating"></app-dungeon-widget>
            </div>
            <div class="cutoff">
                <div class="title-cutoff">
                    <p>Title</p>
                    <p>Cutoff</p>
                </div>
                <p class="splitter">|</p>
                <div class="cutoff-average">
                    <p>{{cutoff}}</p>
                    <p>(avg of +{{averageRating}})</p>
                </div>
            </div>
    
        </div>
        <div *ngIf="guildName" class="guild-content">
            <h1><{{guildName}}></h1>
            <div class="raid-data">
                <app-raid-widget *ngFor="let raid of raidData" [raidData]="raid"></app-raid-widget>
            </div>
        </div>
    </div>

    <div class="side-bar">
        <div *ngFor="let friend of friends" class="character-widget">
            <app-character-widget [profile]="friend" (deleteFriendName)="deleteFriend($event)" (searchFriendName)="searchFriend($event)"></app-character-widget>
        </div>
        <div *ngIf="addButton && friends.length < 7" class="add-character">
            <p (click)="toggleAddButton()">+</p>
        </div>
        <div *ngIf="addButton === false && friends.length < 7" class="add-character-input">
            <div class="add-friend-container">
                <div class="add-friend-input-layout">
                    <div>
                        <p>Character Name:</p>
                        <input id="friendName" name="friendName" type="text" aria-label="friendName" [(ngModel)]="friendNameInput"
                            required>
                    </div>
                    <div>
                        <p>Server Name:</p>
                        <input id="friendServer" name="friendServer" type="text" aria-label="friendServer" [(ngModel)]="friendServerInput"
                            required>
                    </div>
                </div>
                <button class="add-friend-button" (click)="getFriendRaiderIO()">Add Friend</button>
                <p class="red error" *ngIf="invalidInput === true">- Invalid Input -</p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p>This website is powered by <a href="https://raider.io">Raider.io</a>'s API</p>
    <p>Currently updated for World of Warcraft: Dragonflight</p>
</div>
