* {
    margin: 0;
    background-color: rgb(26, 26, 26);
}

.page-container {
    display: flex;
    flex-direction: row;

    .main-content {
        width: 80%;
    }

    .side-bar {
        width: 20%;
        background-color: rgb(32, 32, 32);
    }
}

.profile-container {
    display:flex;
    flex-direction: column;
    position: absolute;
    border: 4px solid grey;
    max-width: 300px;

    .profile-image {
        display:flex;
        flex-direction: row;

        img {
            width:100px;
            height: 100px;
        }

        .name-spec {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            h1 {
                font-size: 1.5rem;
            }

            p {
                margin: 1rem;
            }
        }
    }

}
.cutoff {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    font-size: 3rem;
}
#character-input {
    display: flex;
    flex-direction: row;
    align-items: center;

    .input-boxes {
        margin: 0.5rem;
    }

    button {
        height: 20%;
    }
}

@media (max-width: 800px) {
    .cutoff {
        font-size: 1.5rem;
    }
  }