
<div class="page-container">
    <div class="main-content">
        <div class="character-content">
            <div class="cutoff">
                <h1>{{characterName}}</h1>
                <p>{{characterSpec}}</p>
                <p style="color:{{acquired}}">{{characterRating}}</p>
            </div>
            <div class="cutoff">
                <p>Seasonal Title Cutoff: </p>
                <p>{{cutoff}}</p>
            </div>
    
        </div>
        <div class="guild-content">
            <p><{{guildName}}></p>
            <p>{{guildProgress}}</p>
            <p>{{guildRank}}</p>
        </div>
    </div>

    <div class="side-bar">

        <div id="character-input">
            <img src={{profileIcon}}>
            <div class="input-boxes">
                <div>
                    <p>Character Name:</p>
                    <input id="character" name="character" type="text" aria-label="character" [(ngModel)]="characterNameInput"
                        required>
                </div>
        
                <div>
                    <p>Server Name:</p>
                    <input id="server" name="server" type="text" aria-label="server" [(ngModel)]="serverNameInput" required>
                </div>
            </div>
            <button (click)="getRaiderIO()">Search</button>
        </div>

        <div *ngFor="let friend of friends" class="character-widget">
            <app-character-widget [characterName]="friend.characterName"
                [server]="friend.server"></app-character-widget>
        </div>
        <div *ngIf="addButton" class="add-character">
            <p (click)="toggleAddButton()">+</p>
        </div>
        <div *ngIf="addButton === false" class="add-character-input">
            <div class="add-friend-container">
                <div class="add-friend-input-layout">
                    <div>
                        <p>Character Name:</p>
                        <input id="friendName" name="friendName" type="text" aria-label="friendName" [(ngModel)]="friendNameInput"
                            required>
                    </div>
                    <div>
                        <p>Server Name:</p>
                        <input id="friendServer" name="friendServer" type="text" aria-label="friendServer" [(ngModel)]="friendServerInput"
                            required>
                    </div>
                </div>
                <button class="add-friend-button" (click)="getFriendRaiderIO()">Search</button>
            </div>
        </div>
    </div>
</div>