.red {
    color: rgb(218, 0, 0);
}
.yellow {
    color: rgb(243, 227, 0);
}
.green {
    color: rgb(0, 255, 98);
}
.death-knight {
    color: #C41E3A
}
.demon-hunter {
    color: #A330C9
}
.druid {
    color: #FF7C0A
}
.evoker {
    color: #33937F
}
.hunter {
    color: #AAD372
}
.mage {
    color: #3FC7EB
}
.monk{
    color: #00FF98
}
.paladin {
    color: #F48CBA
}
.priest {
    color: #FFFFFF
}
.rogue {
    color: #FFF468
}
.shaman {
    color: #0070DD
}
.warlock {
    color: #8788EE
}
.warrior {
    color: #C69B6D
}
.alliance {
    background-color: #03001a
}
.horde {
    background-color: #1d0000
}
.white {
    background-color: rgb(77, 77, 77);
}